node_modules
**/node_modules

.git
.gitignore
.gitattributes

.turbo
**/.turbo
.svelte-kit
**/.svelte-kit
coverage
**/coverage
build
**/build
dist
**/dist

*.log
logs
.pnpm-debug.log*

.DS_Store
Thumbs.db

.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.test
!**/.env.example
!**/.env.test
